* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', cursive;
}
.top {
  background: url(../images/back3.png), #000000ce;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 500;
}
.top > h1 {
  text-align: center;
  color: #ecf1f4;
  text-shadow: 0 0 7px #00f7ff;
}
.top > p {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 40%;
}
.top > p > span {
  color: #00f7ff;
  text-shadow: 0 0 7px #000000;
}

#h1,
.cursor {
  color: #000000;
}
.cursor {
  display: none;
  color: #030a0f;
}
.cursor.ativo {
  display: inline;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav > a {
  padding: 7px;
  text-decoration: none;
  color: #030a0f;
  font-size: 1.2em;
  border-radius: 10px 10px 10px 10px;
  margin-left: 2px;
  transition: 0.6s;
}

nav > a:hover {
  border-radius: 10px 10px 10px 10px;
  background-image: url(../images/back3.png);
  color: #ecf1f4;
  text-shadow: 0 0 3px #00f7ff;
}

.fotonerd {
  max-width: 100%;
}

img {
  max-width: 100%;
}
.fix:after {
  content: '';
  display: table;
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 15px;
}
.column {
  display: flex;
  max-width: 95%;
  width: 1250px;
  margin: 0 auto;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.initial-area {
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  padding-top: 95px;
  padding-bottom: 80px;
  margin-top: -110px;
}
.initial-left-area {
  padding-left: 15px;
}
.initial-left-area h2 {
  font-size: 30px;
  color: #161e25;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
}
h2 > span {
  font-size: 1.1em;
  color: #021857;
  text-shadow: 0 0 2px #00f7ff;
}
p > span {
  color: #021857;
  text-shadow: 0 0 2px #00f7ff;
  font-size: 1.2em;
}
.initial-left-area p {
  font-size: 37px;
  font-weight: 300;
}
.initial-left-area {
  max-width: 750px;
}
.initial-right-area {
  max-width: 500px;
}
.foto-perfil {
  float: left;
  padding: 30px;
}

.skills-area {
  background-image: url(../images/back2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 40px;
  padding-bottom: 150px;
  text-align: center;
  color: #fff;
}
.skills-area h2 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}
.soft {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}
.hard-area {
  margin-top: 85px;
}
.hard-area img {
  margin: 7px;
}
.projects {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.contact-area {
  padding-top: 115px;
  padding-bottom: 200px;
  background-color: #030a0f;
  color: #fff;
}
.contact-area h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
}

.contact-area li {
  font-size: 26px;
  text-align: center;
  padding: 8px;
  list-style-position: inside;
  list-style: none;
}

.contact-area li > a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  color: #ecf1f4;
  transition: 0.5s;
}
.contact-area li > a:hover {
  background-color: #ffffff;
  color: #030a0f;
  border-radius: 5px;
  padding: 3px;
  text-shadow: 0 0 2px #00f7ff;
  box-shadow: 5px 5px 7px #00f7ff;
}
.slider-area {
  background-image: url(../images/back3.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #030a0f;
  padding-top: 95px;
  background-size: cover;
  padding-bottom: 50px;
}
.itam {
  text-decoration: none;
}
.itam img {
  opacity: 0.08;
}
.itam p {
  color: whitesmoke;
  margin-top: 110px;
  margin-left: 10px;
  font-size: 20px;
  opacity: 0.08;
}

.center .itam p {
  opacity: 1;
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
}
.itam {
  padding-top: 50px;
  padding-bottom: 50px;
}
.center .itam img {
  opacity: 1;
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  padding-top: 50px !important;
}
.github {
  font-size: 26px;
  text-align: center;
  color: whitesmoke;
}
.github h2 > a {
  color: #030a0f;
  background-color: #f6ebe2;
  padding: 5px;
  border-radius: 6px;
}
#t_slider .owl-prev {
  background-color: transparent;
  border: 0px;
  position: absolute;
  left: 0px;
  top: 28%;
}
#t_slider .owl-next {
  background-color: transparent;
  border: 0px;
  position: absolute;
  right: 0px;
  top: 28%;
}
footer > p {
  background-image: url(../images/back.png);
  text-align: center;
  margin: auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}
html,
body {
  scroll-behavior: smooth;
}
.scroll {
  float: left;
  place-items: center;
  position: sticky;
  bottom: 5px;
  left: 97.5%;
  place-self: end;
  text-decoration: none;
  width: 30px;
  height: 40px;
  background-color: white;
  border: 2px solid #021857;
  border-radius: 6.5px;
  box-shadow: 0 0 2px #00f7ff;
}
.scroll > i {
  font-size: 19px;
  padding-top: 7px;
  padding-left: 3px;
  color: #021857;
  text-shadow: 0 0 2px #00f7ff;
}
